<div class="row">
  <section class="col-md-9">
  </section>
  <aside class="col-md-3 hot-music">
    <h3 class="font-weight-bold my-3"><%= t ".hot_topic" %></h3>
    <%= link_to image_tag("hot-music.jpg", alt: (t ".hot_music"), height: 100, width: 260), "#", class: "pb-3" %>
    <%= link_to image_tag("love-music.jpg", alt: (t ".hot-music"), height: 100, width: 260), "#", class: "pb-3" %>
    <%= link_to image_tag("vpop-music.jpg", alt: (t ".hot-music"), height: 100, width: 260), "#", class: "pb-3" %>
    <%= link_to image_tag("acoustic-music.jpg", alt: (t ".hot-music"), height: 100, width: 260), "#", class: "pb-3" %>
  </aside>
</div>
