<%= form_with model: @comment, remote: true do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= hidden_field_tag :song_id, @song.id %>
    <%= f.text_area :content, placeholder: t("comments.type") %>
  </div>
  <%= f.submit t("comments.post"), class: "btn btn-success" %>
<% end %>
