<%= form_for @playlist do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
      <%= link_to t(".create_new_playlist"), "#", class: "btn btn-outline-primary", id: "navbarDropdownMenuLink",
            data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"} %>
      <div class="dropdown-menu bg-create-playlist w-70" aria-labelledby="navbarDropdownMenuLink">
        <%= f.text_area :name, placeholder: t(".enter_name") %>
        <%= f.submit t(".create"), class: "btn btn-primary" %>
      </div>
  </div>
<% end %>
