<div class="notice"><%= notice %></div>
<div class="add-song-to-playlist">
  <%= form_with model: @playlist_song, url: playlist_songs_path do |f| %>
    <%= hidden_field_tag :song_id, @song.id %>
    <%= hidden_field_tag :user_id, current_user.id %>
    <%= f.label :playlist_id, t(".select_playlist") %>
    <%= f.select :playlist_id, options_for_select(@playlist.map(&:name)),
      {class: "form-control"}, {include_blank: false} %>

  <%= f.submit t(".select"), class: "btn btn-success form-control" %>
<% end %>
