<li>
  <div class="col-2">
    <%= image_tag "play.png", width: 120 %>
  </div>
  <div class="col-10">
    <p class="song-title">
      <%= link_to song.title, song %>
    </p>

    <p class="song-date">
      <%= t "songs.post_at" %>
      <%= l song.created_at %>
    </p>

    <p class="song-view">
      <%= t "songs.view" %> 
      <%= song.view %>
    </p>
    <% if current_user && current_user.admin? %>
      <%= link_to t(".edit"), edit_admin_song_path(song) %>
    <% end %>
  </div>
</li>
<hr>
