<div class="content">
  <div class="row mt-5">
      <div class="col-3">
      <%= image_tag "play.png", width: 150 %>
    </div>
    <div class="col-6">
      <h3>
        <%= @song.title %>
      </h3>

      <h4>
        <%= link_to @song.singer.name, singer_path(@song.singer.id) %>
      </h4>

      <% if @song.genres.any? %>
        <span><%= t ".genres" %></span>
        <span>
          <%= render @genres %>
        </span>
      <% end %>

      <h4>
        <%= t "songs.view" %>
        <%= @song.view %>
      </h4>

      <h5>
        <%= t "songs.post_at" %>
        <%= l @song.created_at %>
      </h5>
      <% if logged_in? && @playlist %>
        <%= link_to t(".add_playlist"), "#", class:
          "btn btn-primary text-capitalize", data: {toggle: "modal",
          target: "#add_playlist"} %>
      <% end %>
    </div>
  </div>
  <div class="modal fade" id="add_playlist" tabindex="-1" role="dialog"
    aria-labelledby="login_or_apply" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-theme1">
          <h5 class="modal-title" id="login_or_apply">
              <%= t ".select_pl" %>
          </h5>
          <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% if logged_in? && @playlist %>
            <%= render "add_playlist" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-9 row mt-5">
    <audio controls loop>
      <source src="<%= @song.song_url %>" type="audio/mp3">
    </audio>
  </div>

  <div class="col-9 row mt-5 mb-5">
    <%= t ".lyrics" %>
    <p>
      <%= @song.lyrics %>
    </p>
  </div>

  <div class="col-9 mb-5">
    <% if logged_in? %>
      <div class="row">
      <aside class="col-md-12">
        <div class="ajax-form-create">
          <%= render "shared/comment_form", song: @song, comment: @comment %>
        </div>
      </aside>
    <% end %>
    </div>
    <% if @song.comments.any? %>
      <%= render "comments/count_comment", song: @song %>
      <ul class="comments">
        <div class="notice"></div>
        <div class="div-create">
          <%= render @comments %>
        </div>
      </ul>
      <%= paginate @comments, theme: "twitter-bootstrap-3" %>
    <% end %>
  </div>
</div>
