<nav class="navbar nav-top navbar-expand-md sticky-top py-0"> 
  <div class="container">
    <%= link_to image_tag("soundcloud-icon.jpg", alt: (t ".icon-soundcloud"), height: 40, width: 70), root_url, class: "navbar-brand py-0" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarReponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="div-collapse collapse navbar-collapse" id="navbarReponsive">
      <ul class="navbar-nav h-100">
        <li class="nav-item active">
          <%= link_to t(".home"), songs_url, class: "nav-link home-link text-white h-100 pt-2 pl-4" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".collection"), "#", class: "nav-link home-link collec-link text-white h-100 pt-2 pl-2" %>
        </li>
        <li class="active-pink-3 active-pink-4 mb-4 search-box">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </li>
        <li class="nav-item active">
          <%= link_to t(".upload"), "#", class: "nav-link home-link text-white h-100 pt-2 pl-4" %>
        </li>
        <li class="nav-item active">
          <%= link_to t(".login"), login_path, class: "nav-link home-link text-white h-100 pt-2 pl-4" %>
        </li>
        <li class="nav-item active">
          <%= link_to t(".sign_up"), signup_path, class: "nav-link home-link text-white h-100 pt-2 pl-4" %>
        </li>
        <% if logged_in? %>
          <li class="dropdown">
            <%= link_to "#", class: "dropdown-toggle nav-link home-link text-white h-100 pt-2 pl-4", 
              data: {toggle: "dropdown"} do %>
                <%= t ".account" %> <b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu bg-white">
              <li><%= link_to t(".profile"), current_user, class: "mx-auto text-dark" %></li>
              <li><%= link_to t(".setting"), "#", class: "mx-auto text-dark" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t(".logout"), logout_path, class: "mx-auto text-dark", method: :delete %>
              </li>
            </ul>
          </li>
        <% end %>      
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar nav-2 navbar-expand-lg navbar-light">
  <div class="container">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <%= link_to t(".top-100"), "#", class: "nav-link", id: "navbarDropdownMenuLink",
            data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"} %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to t(".vietnam"), "#", class: "dropdown-item" %>
            <%= link_to t(".us-uk"), "#", class: "dropdown-item" %>
            <%= link_to t(".asia"), "#", class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <%= link_to t(".collection"), "#", class: "nav-link", id: "navbarDropdownMenuLink",
            data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"} %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to t(".edm"), "#", class: "dropdown-item" %>
            <%= link_to t(".acostic"), "#", class: "dropdown-item" %>
            <%= link_to t(".year"), "#", class: "dropdown-item" %>
            <%= link_to t(".coffe"), "#", class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <%= link_to t(".album"), "#", class: "nav-link", id: "navbarDropdownMenuLink",
            data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"} %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to t(".vietnam"), "#", class: "dropdown-item" %>
            <%= link_to t(".us-uk"), "#", class: "dropdown-item" %>
            <%= link_to t(".asia"), "#", class: "dropdown-item" %>
            <%= link_to t(".concert"), "#", class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <%= link_to t(".artist"), "#", class: "nav-link", id: "navbarDropdownMenuLink",
            data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"} %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to t(".vietnam"), "#", class: "dropdown-item" %>
            <%= link_to t(".us-uk"), "#", class: "dropdown-item" %>
            <%= link_to t(".korea"), "#", class: "dropdown-item" %>
            <%= link_to t(".japan"), "#", class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
